#container{
    background-image: url('exercicio22/imagens/target001.png');
    background-size: 100% 100%;
    position: relative;
    height: 96vh;
    padding: 10px;
    background-color: purple;
}

#conteúdo{
    position: absolute;
    height: 200px;
    width: 400px;
    background-color: yellow;

    left: 50px;
    top: 50px;
    transform: translate(50%, 50%);
    
}